.homepage-2-banner-area{
  background-image: url(assets/img/banner-12.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
  width: 100%;
  margin-bottom: 50px !important;
  .homepage-slider{
    width: 100%;
    .single-home-slider{
      &.home-bg-3{
        background-image: url(assets/img/slider-3.png);
      }
      &.home-bg-4{
        background-image: url(assets/img/slider-4.png);
      }
    }
  }
  .home-right-box{
    background-image: url(assets/img/banner-11.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    overflow: hidden;
    height: 538px;
    width: 100%;
    position: relative;
    .home-right-box-content{
      position: absolute;
      top: 50px;
      z-index: 2;
      padding: 0 50px;
      margin-top: 50px;
      h5{
        margin-bottom: 50px;
        font-size: 40px;
        font-family: $secondary-font;
        font-weight: 700;
        line-height: 1.2;
        color: $secondary-color;
        span{
          color: $primary-color;
        }
      }
      .home-right-box-btn{
        padding: 7px 8px 7px 12px;
        font-size: 12px;
        align-items: center;
        &:hover{
          i{
            margin-left: 10px;
            transition: .3s all ease;
          }
        }
        i{
          font-size: 16px;
          margin-left: 5px;
          transition: .3s all ease;
        }
      }
    }
  }
}
/* =========feature area start======== */
.categories-area{
  padding: 25px 0;
  .categories-area-title{
    display: flex;
    margin-bottom: 44px;
    .section-title{
      font-size: 36px;
      font-weight: 700;
      color: $secondary-color;
      text-transform: capitalize;
      letter-spacing: 2px;
      margin-right: 30px;
    }
    a{
      color: $gray-text;
      display: flex;
      align-items: center;
      transition: all .3s ease 0s;
      &:hover{
        color: $primary-color;
      }
      i{
        margin-left: 6px;
        font-size: 16px;
      }
    }
  }
  .categories-item-box-wrap{
    width: 100%;
    .categories-slider{
      position: relative;
      .owl-nav {
        position: absolute;
        top: -110px;
        left: 90%;
        width: 80px;
        font-size: 30px;
        color: $gray-text;
        .owl-prev{
          cursor: pointer;
          background: #F2F3F4;
          width: 45px;
          height: 45px;
          position: absolute;
          display: block;
          z-index: 100;
          border-radius: 50%;
          transition: all .2s ease-out;
          text-align: center;
          line-height: 45px;
          font-size: 16px;
          color: $gray-text;
          transition: all 0.3s ease;
          &:hover{
            color: #fff;
            background: $primary-color;
            transition: all 0.3s ease;
          }
        }
        .owl-next{
          cursor: pointer;
          background: #F2F3F4;
          width: 45px;
          height: 45px;
          position: absolute;
          display: block;
          z-index: 100;
          border-radius: 50%;
          transition: all .2s ease-out;
          text-align: center;
          line-height: 45px;
          font-size: 16px;
          color: $gray-text;
          right: 0;
          transform: rotate(180deg);
          margin-right: -20px;
          transition: all 0.3s ease;
          margin-top: 2px;
          &:hover{
            color: #fff;
            background: $primary-color;
            transition: all 0.3s ease;
          }
        }
      }
      .single-categories-card{
        position: relative;
        background: #F4F6FA;
        text-align: center;
        border: 1px solid #F4F6FA;
        border-radius: 10px;
        padding: 40px 30px 28px 30px;
        margin: 0 12px;
        margin-bottom: 20px;
        min-height: 215px;
        transition: 0.2s;
        &:hover{
          background: #fff;
          border: 1px solid #BCE3C9;
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
          transition: 0.2s;
          h6{
            color: $primary-color;
            transition: .2s;
          }
        }
        a{
          .categories-img-hover{
            margin-bottom: 20px;
            &:hover{
              transform: scale(1.05);
              transition: transform .5s;
            }
            img{
              border-radius: 10px;
              display: inline-block;
              max-width: 80px;
              transition: transform .5s;
            }
          }
          
        }
        h6{
          color: $primary-color;
          transition: .2s;
        }
      }
    }
  }
}
/* ===========feature area ends======== */