.single-product-cart {
  .product-wrap-area {
    border: none;

    &:hover {
      border: none;
    }

    .product-img-area {
      max-width: 28%;
      padding: 0;
      max-height: unset;
      display: flex;
      align-items: center;

      .products-img-boxed {
        border: 1px solid #ececec;
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        padding: 10px;
      }
    }

    .product-details-area {
      .product-categories {
        a {
          font-size: 16px;
          margin-top: 15px;
          display: block;
          color: #adadad;
        }
      }

      h5 {
        margin-bottom: 5px;

        a {
          color: $secondary-color;
          font-size: 32px;
          font-weight: 700;
          line-height: 1.2;

          &:hover {
            color: $primary-color;
          }
        }
      }

      p {
        margin: 15px 0px;
      }

      .product-bottom-part {
        padding-top: 5px;

        .product-price {
          flex-direction: row;
          justify-content: normal;
          align-items: baseline;

          span {
            font-size: 32px;
            font-weight: bold;

            &.discount {
              margin-left: 7px;
              font-size: 20px;
            }
          }
        }
      }

      .btn-area {
        align-items: center;
        margin-top: 30px;

        .btn {
          padding: 12px 30px;
          color: #fff;
          border-radius: 4px;
          border: 1px solid transparent;
          letter-spacing: .5px;

          i {
            margin-right: 5px;
          }

          &.wish-btn {
            background: transparent;
            color: $gray-text;
            margin-left: 30px;
            padding: 12px 0px;

            i {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}