h1,
h2,
h3,
h4,
h5,
h6,
.font-heading,
.display-1,
.display-2,
.heading-sm-1 {
  font-family: "Quicksand", sans-serif;
  color: $secondary-color;
  font-weight: 700;
  line-height: 1.2;
}
span{
  font-size: 14px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
  color: #7E7E7E;
}

ul {
  padding-left: 0;
}

a {
  transition: all .3s ease 0s;
  text-decoration: none;

  &:hover {
    color: var(--wc-hover-box);
    text-decoration: none;
  }
}
.table > :not(:last-child) > :last-child > *{
  border-bottom-color: #e9ecef;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 98;
  transform: translateY(-50%);

  &.bx-left-arrow-alt {
    width: 40px;
    font-size: 20px;
    height: 40px;
    left: 10px;
    border-radius: 50%;
    background: #fff;
    color: $secondary-color;
    text-align: center;
    line-height: 40px;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }

  &.bx-right-arrow-alt {
    width: 40px;
    font-size: 20px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    color: $secondary-color;
    text-align: center;
    line-height: 40px;
    right: 10px;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}

.slick-arrow {
  &:hover {
    background: var(--green) !important;
    color: var(--white);
  }
}

img {
  max-width: 100%;
}

.col-lg-1-5 {
  width: 20%;
  padding: 0 12px;
}

.btn {
  font-size: 18px;
  background: $primary-color;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  margin-top: 15px;
  display: inline-flex;
  padding: 6px 10px;
  transition: all 300ms linear 0s;
  margin-top: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    background: $hover-box;
    color: #fff;
  }

  i {
    font-size: 26px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
  }
}

button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

li {
  list-style: none;
}

input {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--wc-primary-text);
  text-transform: capitalize;
  letter-spacing: 2px;
}

.about-page-title {
  background-image: url(assets/img/wave.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 25px;
  margin-bottom: 40px;
  font-size: 40px;
  font-family: $secondary-font;
  font-weight: 700;
  color: $secondary-color;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.divider-2 {
  width: 100%;
  height: 1px;
  background-color: #ececec;
  margin: 10px 0;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}
// =====checkbox====
input[type="checkbox"] {
  &:checked {
    +.form-check-label {
      &::before {
        background-color: #3BB77E;
        border-color: #3BB77E;
      }

      &::after {
        opacity: 1;
      }
    }
  }
}

.form-check-input {
  display: none;
}

.form-check-label {
  position: relative;
  cursor: pointer;
  color: #687188;
  padding: 0;
  vertical-align: middle;

  &::before {
    content: "";
    border: 2px solid #ced4da;
    height: 17px;
    width: 17px;
    margin: 5px 8px 0 0;
    display: inline-block;
    border-radius: 2px;
  }

  &::after {
    content: "";
    width: 11px;
    position: absolute;
    top: 12px;
    left: 3px;
    opacity: 0;
    height: 6px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: translateY(-65%) rotate(-45deg);
  }
}
// ====checkbox====


// =====radiobox=====

input[type="radio"]:checked + .form-check-label::after {
  background: #3BB77E;
  opacity: 1;
}
.custome-radio .form-check-label::before {
  content: "";
  border: 2px solid #ced4da;
  height: 16px;
  width: 16px;
  margin: 5px 8px 0 0;
  display: inline-block;
  border-radius: 50%;
}
.payment-option .custome-radio .form-check-label::after {
  content: "";
  width: 10px;
  position: absolute;
  top: 8px;
  left: 3px;
  opacity: 0;
  height: 10px;
  border-radius: 100%;
  transform: translate(0, 0);
  border: 0;
}
// =====radiobox=====

.coupn-apply-btn{
  font-size: 16px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}
.nav-tabs {
  .nav-link{
    &.active{
      border-color: #dee2e6;
    }
  }
}
.product-rate {
  a {
    color: $hover-box;
    font-size: 12px;
  }

  span {
    font-size: 12px;
    color: #B6B6B6;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    max-width: 20%;
    padding: 0 12px;
  }

  .col-lg-4-5 {
    width: 80%;
  }

  .col-lg-22-5 {
    width: 20%;
    max-width: 20%;
  }

  .col-lg-2-5 {
    width: 20%;
    max-width: 20%;
  }
}