$primary-color:#3BB77E;
$secondary-color:#253D4E;
$hover-box:#FDC040;
$light-background:#DEF9EC;
$blue-color:#67bcee;
$orange-color:#f59758;
$pink-color:#f74b81;
$muted-text:#adadad;
$gray-text:#7E7E7E;
$light-green:#BCE3C9;
$font-stack : 'Lato', sans-serif;
$secondary-font: 'Quicksand', sans-serif;



